# Automatically switch conda environments by directory!

# Copy this into any code dir, and update YOUR_ENVIRONMENT_NAME
# then run `direnv allow .`

# Pre-requisites:
# apt install direnv
# echo 'eval "$(direnv hook bash)"'  >> ~/.bashrc
# echo 'export CONDA_BASE_PATH="$(dirname "$(dirname "$(which conda)")")"' >> ~/.bashrc

if [ -z "${CONDA_BASE_PATH}" ]; then
    # If CONDA_BASE_PATH is not set, exit silently
    return 0
fi

# Initialize conda
eval "$("${CONDA_BASE_PATH}/bin/conda" shell.bash hook)"

# Activate the environment
conda activate dtq
